:root {
    --main-clr: #131735;
    --dark-clr: #222;
    --big-fz: calc(25px + (45 - 25) * ((100vw - 300px) / (1500 - 300)));
    --medium-fz: calc(20px + (35 - 20) * ((100vw - 300px) / (1500 - 300)));
    --small-fz: calc(12px + (18 - 12) * ((100vw - 300px) / (1500 - 300)));
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.5)
}

body {
    background-color: var(--main-clr);
}

/* heeader scetion start */

section{
    min-height: 100vh;
    padding: 0rem 8%;
}

.btn{
    padding: 0.7rem 3rem;
    font-size: var(--small-fz);
    color: #fff;
    background-color: var(--dark-clr);
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: var(--box-shadow);
}

.btn:hover{
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.9);
}

.heading{
    text-align: center;
    color: #fff;
    font-size: var(--big-fz);
    text-transform: capitalize;
    padding-top: 10rem;
}
/* Home section start */

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 9rem;
}


.home .image{
    padding: 1rem;
    flex: 1 1 40rem;
    text-align: center;
}

.home .content{
    padding: 1rem;
    flex: 1 1 40rem;
}

.home .content h2{
    font-size: var(--big-fz);
    color: #fff;
    line-height: 1;
}


.home .content p{
    font-size: var(--small-fz);
    color: #fff;
    margin: 2rem 0rem;
}
/* Home section end */

/* About section start */

.about .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.about .row .content{
    flex: 1 1 45rem;
    padding: 2.5rem;
}

.about .row .content h3{
    color: #fff;
    font-size: var(--big-fz);
}

.about .row .content p{
    font-size: var(--small-fz);
    color: #fff;
    margin: 2rem 0rem;
}

.about .row .content p i{
    padding-right: 0.5rem;
    color: dodgerblue;
}

.about .row .image{
    flex: 1 1 45rem;
    text-align: center;
}

.about .row .image img{
   border-radius: 0.5rem;
}

/* About section end */


/* Features section start */
.features .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
}

.features .box-container .box{
    flex: 1 1 35rem;
    border: 2px solid rgba(0, 0, 0, .5);
    background-color: #232323;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.features .box-container .box span{
   position: absolute;
   display: block;
   background: dodgerblue;
}

.features .box-container .box span:nth-child(1){
    left: 0;
    top: 0;
    width: 50.5%;
    height: 0.1rem;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: left;
}

.features .box-container .box:hover
span:nth-child(1){
    transform: scale(1);
    transform-origin: right;

}

.features .box-container .box span:nth-child(2){
    right: 0;
    top: 0;
    width: 50.5%;
    height: 0.1rem;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: right;
}

.features .box-container .box:hover
span:nth-child(2){
    transform: scale(1);
    transform-origin: left;

}

.features .box-container .box span:nth-child(3){
    right: 0;
    top: 0;
    width: 0.1rem;
    height: 100%;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: bottom;
    transition-delay: .3s;
}

.features .box-container .box:hover
span:nth-child(3){
    transform: scale(1);
    transform-origin: top;

}

.features .box-container .box span:nth-child(4){
    left: 0;
    top: 0;
    width: 0.1rem;
    height: 100%;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: bottom;
    transition-delay: .3s;
}

.features .box-container .box:hover
span:nth-child(4){
    transform: scale(1);
    transform-origin: top;

}

.features .box-container .box span:nth-child(5){
    left: 0;
    bottom: 0;
    width: 50.5%;
    height: 0.1rem;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: right;
    transition-delay: .3s;
}

.features .box-container .box:hover
span:nth-child(5){
    transform: scale(1);
    transform-origin: left;

}

.features .box-container .box span:nth-child(6){
    right: 0;
    bottom: 0;
    width: 50.5%;
    height: 0.1rem;
    transform: scale(0);
    transition: transform 0.5s;
    transform-origin: left;
    transition-delay: .3s;
}

.features .box-container .box:hover
span:nth-child(6){
    transform: scale(1);
    transform-origin: right;

}

.features .box-container .box i{
    width: 7rem;
    height: 7rem;
    line-height: 7rem;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    font-size: var(--medium-fz);
    box-shadow: var(--box-shadow);
}

.features .box-container .box h4{
    margin: 1.5rem 0rem;
    font-size: var(--small-fz);
    color: #fff;
}

.features .box-container .box p{
    font-size: 1.5rem;
    color: #fff;
    text-align: justify;
}
/* Features section end */

/* Product section start */
.product{
    position: relative;
}

.product .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 4rem;
}

.product .box-container .box{
    flex: 1 1 45rem;
    border: 2px solid rgba(0, 0, 0, .5);
    background-color: #232323;
    box-shadow: var(--box-shadow);
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.5s;
}

.product .box-container .box:hover{
    border: 2px solid dodgerblue;
}

.product .box-container .box .img img{
    max-width: 20rem;
    width: 100%;
    padding: 0rem 3rem 0rem 0rem;
}

.product .box-container .box .show{
 display: block;
}

.product .box-container .box .hide{
    display: none;
}

.product .box-container .box:hover 
img.primary-image{
    display: none;
}

.product .box-container .box:hover 
img.secondary-image{
    display: block;
    transform: scale(1.1);
}

.product .box-container .box .content{
    color: #fff;
    flex: 1 1 15rem;
}

.product .box-container .box .content h4{
    font-size: var(--small-fz);
}

.product .box-container .box .content p{
    font-size: 1.5rem;
    margin: 1rem 0rem;
}

.product .box-container .box .content .price{
    font-size: var(--small-fz);
    color: dodgerblue;
    font-weight: 800;
    margin-bottom: 2rem;
}

.product .box-container .box .content .buttons .btn{
 margin-right: 0.8rem;   
}
/* Product section end */

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--dark-clr);
    z-index: 1000;
    padding: 2rem 8%;
    box-shadow: var(--box-shadow);
}


header .logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

header .logo img{
    width: 3rem;
}

header span{
    font-size: var(--medium-fz);
    color: #fff
}


header .navbar ul {
    display: flex;
    gap: 2rem;
}


header .navbar ul li a {
    font-size: var(--small-fz);
    color: #fff;
    position: relative;
    text-transform: capitalize;
}


header .navbar ul li a::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    width: 0%;
    height: 0.2rem;
    background-color: dodgerblue;
    transition: 0.3s linear;
}


header .navbar ul li a:hover::before{
    left: 0;
    width: 100%;
}


header #menu{
    font-size: var(--medium-fz);
    color: #fff;
    cursor: pointer;
    display: none;
}


/* heeader scetion end */


/* media queries */


@media (max-width: 820px) {
  header #menu{
    display: block;
  }

  header .navbar{
    position: fixed;
    left: 0;
    top: -120%;
    width: 100%;
    background-color: #fff;
  }

  header .navbar.active{
    top: 9.2rem;
  }

  header .navbar ul{
    flex-direction: column;
    padding: 2rem;
  }

  header .navbar ul li{
    width: 100%;
    text-align: center;
  }

  header .navbar ul li a{
    display: block;
    background-color: var(--main-clr);
    padding: 1rem;
  }

  header .fa-times{
    transform: rotate(90deg);
  }
}